
<<<<<<< HEAD
<form method="POST" action="/recipes">
  <input type="text" name="name" >
=======

<form method="POST" action="/recipes">
  <input type="text" id="name" name="name" >
>>>>>>> b910590ac5a957571513ce82917d34fe6e52c2d2
  <input type="text" name="ingredients" >
  <input type="text" name="cook_time">
  <input id="submit" type="submit" value="Submit">
</form>
